.button {
    width: 75px;
    height: 50px;
    border: none;
    display: block;  
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #5ba0bf;
    background-color: #6dc0e6;
       
}

.button>span {   
    padding: 10px 10px 10px 10px;
}

.button:hover {
    background-color: #5ba0bf;
}