/***
MODAL COMPONENT
***/

/* Transparent Overlay */
.overlay {
    top: 0;
    width: 100vw;
    height: 108vh;    
    position: fixed;    
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Box */
.modal {
    top: 20vh;
    left: 30vw;
    right: 0;
    bottom: 0;
    width: 40vw;
    height: 420px;
    position: absolute;
    border-radius: 4px;    
    border: 1px solid #e0e0e0;      
    background-color: #ffffff;    
}

/* Modal Header */
.modal-header {
    padding: 20px 40px 10px;
}

/* Modal Body */
.modal-body {
    padding: 20px 80px 40px;    
    background-color: #fbfbfb;    
    border-top: 1px solid #e0e0e0;    
    border-bottom: 1px solid #e0e0e0;    
}

/* Modal Area Code/Number */
.area-code, .number {
    padding: 5px;    
}

.area-code {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f0eeee;
}

.number {    
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;    
}

/* Modal Header */
.modal-footer {
    padding: 30px;
}

.modal-footer>.grid>.col-xs>button {
    margin-right: 10px;
}

/* Modal Footer Link */
.modal-footer>.grid>.col-m.font-s>a {
    display: block;
    padding-top: 12px;
}

/* Modal Inputs */
.verification>.grid>.col-m>input[type=text] {
    width: 25%;    
    border-radius: 4px;
    padding: 12px;
    margin-right: 10px;
    border: 1px solid #e0e0e0;
}

/* Modal Transition */
.fadeIn {
    animation: fadeIn .5s;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

/***
MOBILE
***/

@media (max-width: 700px) {
    .modal {
        top: 15vh;
        left: 5vw;        
        width: 90vw;
        height: 60vh;                               
    }

    .modal-body {
        padding: 20px 0 10px 10px;
    }

    .modal-footer {
        padding: 20px;
    } 
    
    .modal-footer>.grid>.col-m.font-s>a {
        display: block;
        text-align: left;
        padding: 5px 0 0 10px;
    }

    .modal-footer>.grid {
        display: flex;
    }

    .verification>.grid {
        display: flex;
    }    
}